.country-list{
    display: none;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    width: 400px;
}
.country-list__img{
    width: 45px;
    height: 30px;
}
.country-list__title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}